*,
    *:before,
    *:after{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Poppins",sans-serif;
    }

    .button {
        display: inline-block;
    /* add more crazy CSS3 stuff like rounded corners and gradients... */
    }

    
    .wrapper{
        position: absolute;
        width: 400px;
        background-color: #ffffff;
        padding: 50px 40px 20px 40px;
        border-radius: 10px;
        top: 550px;
        
    }

    .wrapper_2{
        position: absolute;
        width: 400px;
        background-color: #ffffff;
        padding: 50px 40px 20px 40px;
        border-radius: 10px;
        left:400px;
        top: 550px;
    }

    .wrapper_3{
        position: absolute;
        width: 400px;
        background-color: #ffffff;
        padding: 50px 40px 20px 40px;
        border-radius: 10px;
        left: 600px;
        top: 850px;
    }
    .motor_speed{
        position: absolute;
        top: 1100px;
        left: 750px;
    }
    .wrapper_4{
        position: absolute;
        width: 400px;
        background-color: #ffffff;
        padding: 50px 40px 20px 40px;
        border-radius: 10px;
        left: 0px;
        top: 1150px;
    }

    .left_servo{
        position: absolute;
        top: 1420px;
        left: 150px;
    }

    .wrapper_5{
        position: absolute;
        width: 400px;
        background-color: #ffffff;
        padding: 50px 40px 20px 40px;
        border-radius: 10px;
        left: 400px;
        top: 1150px;
    }
    .right_servo{
        position: absolute;
        top: 1420px;
        left: 480px;
    }

    .container{
        position: relative;
        width: 100%;
        height: 10px;
        margin-top: 50px;
    }
    input[type="range"]{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        outline: none;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        background-color: transparent;
        pointer-events: none;
    }
    .slider-track1{
        width: 100%;
        height: 15px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        border-radius: 5px;
    }
    .slider-track2{
        width: 100%;
        height: 15px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        border-radius: 5px;
    }

    .slider-track3{
        width: 100%;
        height: 15px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        border-radius: 5px;
    }

    .slider-track4{
        width: 100%;
        height: 15px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        border-radius: 5px;
    }

    .slider-track5{
        width: 100%;
        height: 15px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        border-radius: 5px;
    }

    input[type="range"]::-webkit-slider-runnable-track{
        -webkit-appearance: none;
        height: 5px;
    }
    input[type="range"]::-moz-range-track{
        -moz-appearance: none;
        height: 5px;
    }
    input[type="range"]::-ms-track{
        appearance: none;
        height: 5px;
    }
    input[type="range"]::-webkit-slider-thumb{
        -webkit-appearance: none;
        height: 2.7em;
        width: 2.7em;
        background-color: #3264fe;
        cursor: pointer;
        margin-top: -15px;
        pointer-events: auto;
        border-radius: 50%;
    }
    input[type="range"]::-moz-range-thumb{
        -webkit-appearance: none;
        height: 1.7em;
        width: 1.7em;
        cursor: pointer;
        border-radius: 50%;
        background-color: #3264fe;
        pointer-events: auto;
    }
    input[type="range"]::-ms-thumb{
        appearance: none;
        height: 1.7em;
        width: 1.7em;
        cursor: pointer;
        border-radius: 50%;
        background-color: #3264fe;
        pointer-events: auto;
    }
    input[type="range"]:active::-webkit-slider-thumb{
        background-color: #ffffff;
        border: 3px solid #3264fe;
    }
    .values{
        background-color: #3264fe;
        width: 100%;
        position: relative;
        margin: auto;
        padding: 10px 0;
        border-radius: 5px;
        text-align: center;
        font-weight: 500;
        font-size: 25px;
        color: #ffffff;
        margin-top: 30px; 
    }
    .values:before{
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        border-top: 15px solid #3264fe;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        margin: auto;
        bottom: -14px;
        left: 0;
        right: 0;
    }

    .values2{
        background-color: #3264fe;
        width: 100%;
        position: relative;
        margin: auto;
        padding: 10px 0;
        border-radius: 5px;
        text-align: center;
        font-weight: 500;
        font-size: 25px;
        color: #ffffff;
        margin-top: 30px; 
    }
    .values2:before{
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        border-top: 15px solid #3264fe;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        margin: auto;
        bottom: -14px;
        left: 0;
        right: 0;
    }



    .values3{
        background-color: #3264fe;
        width: 100%;
        position: relative;
        margin: auto;
        padding: 10px 0;
        border-radius: 5px;
        text-align: center;
        font-weight: 500;
        font-size: 25px;
        color: #ffffff;
        margin-top: 30px; 
    }
    .values3:before{
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        border-top: 15px solid #3264fe;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        margin: auto;
        bottom: -14px;
        left: 0;
        right: 0;
    }

    .values4{
        background-color: #3264fe;
        width: 100%;
        position: relative;
        margin: auto;
        padding: 10px 0;
        border-radius: 5px;
        text-align: center;
        font-weight: 500;
        font-size: 25px;
        color: #ffffff;
        margin-top: 30px; 
    }
    .values4:before{
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        border-top: 15px solid #3264fe;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        margin: auto;
        bottom: -14px;
        left: 0;
        right: 0;
    }

    .values5{
        background-color: #3264fe;
        width: 100%;
        position: relative;
        margin: auto;
        padding: 10px 0;
        border-radius: 5px;
        text-align: center;
        font-weight: 500;
        font-size: 25px;
        color: #ffffff;
        margin-top: 30px; 
    }
    .values5:before{
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        border-top: 15px solid #3264fe;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        margin: auto;
        bottom: -14px;
        left: 0;
        right: 0;
    }



    .swing {
        position: absolute;
        top: 300px;
        left: 840px;
        height: 50px;
        width: 100px;
    }

    .static{
        position: absolute;
        top: 300px;
        left: 640px;
        height: 50px;
        width: 100px;
    }









    .slidecontainer {
    width: 100%;
    }

    .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }

    .slider:hover {
    opacity: 1;
    }

    .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
    }

    .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
    }
        .btn_ {
    height: 50px;
    width: 50px;
    user-select: none;
    }

    .btn_ {
    height: 70px;
    width: 70px;
    user-select: none;
    }
        #map { height: 380px; width:50%}